# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  CARGO_TERM_COLOR: always
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup riscv-gnu-toolchain
  # uses: colinaaa/setup-riscv-gnu-toolchain@f2e57f05178a0353db6118234a8390c53da5a756
        uses: colinaaa/setup-riscv-gnu-toolchain@v1.0.2

      - name: Rust Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
        
        
